@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=DM+Sans:opsz,wght@9..40,300&family=Fasthand&family=Ingrid+Darling&family=Inter:wght@500;600;700&family=Lexend:wght@300&family=Manrope:wght@600&family=Open+Sans:ital,wght@1,600&family=Poppins&family=Roboto+Slab:wght@500&family=Roboto:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');


body {
    margin: 0;
            padding: 0;
            /* box-sizing: border-box; */
}

::-webkit-scrollbar {
    display: none;
}


body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}



.hero-section {
    width: 97%;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
    padding: 5em 1.5em; /* Adjust padding using em */
}

.hero-section h2 {
    color: rgba(71, 55, 42, 0.00);
    -webkit-text-stroke: 1px black;
    font-size: 5.5em; /* Adjust font size using em */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* margin-top: -0.1em; */
}

.hero-section h3 {
    color: #47372A;
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    margin-bottom: 3.125rem; 
    margin-top: -3.625rem;
}

.hero-section p {
    color: #47372A;
    font-family: 'Inter', sans-serif;
    font-size: 29.979px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -40px;

    margin-bottom: 20px; /* Adjust the margin as needed */
}



.twriter {
    height: 40px;
    margin-bottom: 20px;
}

.hidden-text {
    display: none;
}

.hero-section .buttons-container {
    display: flex;
    justify-content: center;
}

.hero-section .button {
    background-color: #F35422;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Add transition for smoother animations */
}

.button:hover {
    transform: scale(1.1);
  }

.hero-section .button:hover {
    background-color: #F35422;
}


.marque-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    justify-content: center;
    box-sizing: border-box;

}

.marque {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100vw; */
    width: 1390px;
    /* margin-left: -16px; */
    overflow: hidden;
    background-color: #DFB9B9;
    position: absolute;
    bottom: 0;
    /* padding-top: 10px; */
    margin-right: 10px;
    /* padding-bottom: 10px; */
    box-sizing: border-box;


    color: #1B283A;
    font-family: 'Kadwa', serif;
    font-size: 29.979px;
font-style: normal;
font-weight: 700;
line-height: normal;
transform: rotate(-4deg);
padding-left: 40px;
padding-right: 40px;
}



.marque img {
    width: 100px;
height: 100px;
flex-shrink: 0;
}




.footer {
    background-color: #2D1A0B; 
    color: #fff;
    padding: 20px;
    text-align: left;
}

.footer-cta {
    margin-bottom: 20px;
}

.footer-cta h2 {
    margin-bottom: 10px;

    color: #DFDBD8;
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 50px; 
letter-spacing: -0.516px;
}

.cta-span {
    color: #F35422; 
    font-weight: bold; 
}


.under {
    display: flex;
    gap: 80px;
}

.under a {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14.093px;
font-style: normal;
/* font-weight: 300; */
line-height: normal;
letter-spacing: -0.802px;
text-decoration: none;
}

.under h2 {
    font-size: 30.093px;
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
}

.t-container {
    display: flex;
    gap: 5px;
    font-size: 20.093px;
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
}

.t-container svg {
    width: 34.197px;
height: 34.197px;
margin-top: -5px;
/* vertical-align: middle; */
}



.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 120px;
    text-align: center;
  }


.contact-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(35%, 110%); */
}


.contact-container a {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background-color: #FFF;
    box-shadow: 0px 4px 21.4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inc {
    width: 85.714px;
    height: 85.714px;
    flex-shrink: 0;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D9BF0;
}

.cctwitter {
    border-radius: 18px;
}

.cctwitter:hover {
    transform: scale(1.2);
    /* Increase the scale factor for a stronger zoom effect */
    transition: transform 0.3s ease;
    /* Add a smooth transition effect */
}


#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .hero-section {
        margin: 0 auto;
        padding: 2.5em 1.5em; /* Adjust padding for mobile */
    }


    .productholder {
        margin-top: 7rem;
        margin-right: 1rem;
    }

    

    .hero-section h2 {
        font-size: 1.8em; /* Adjust font size for mobile */
        margin-bottom: 1rem;
    }

    .hero-section h3 {
        font-size: 1.5em; /* Adjust font size for mobile */
        margin-top: 0.5rem;
    }

    .hero-section p {
        font-size: 1.125em; /* Adjust font size for mobile */
        margin-top: -2em; /* Adjust margin for mobile */
        margin-bottom: 0.5em; /* Adjust margin for mobile */
    }

    .twriter {
        height: 1.5em; /* Adjust height for mobile */
        margin-bottom: 0.5em; /* Adjust margin for mobile */
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 2rem;
    }

    .hero-section .button {
        font-size: 1em; /* Adjust font size for mobile */
        padding: 0.75em 1.5em; /* Adjust padding for mobile */
    }

    .marque-container {
        width: 100%;
        display: flex;
        align-items: center;
        overflow-y: hidden;
        justify-content: center;
        box-sizing: border-box;
    
    }

    
.marque {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100vw; */
    width: 100%;
    /* margin-left: -16px; */
    overflow: hidden;
    background-color: #DFB9B9;
    position: absolute;
    bottom: 0;
    /* padding-top: 10px; */
    margin-right: 35px;
    /* padding-bottom: 10px; */
    box-sizing: border-box;


    color: #1B283A;
    font-family: 'Kadwa', serif;
    font-size: 9.979px;
font-style: normal;
font-weight: 700;
line-height: normal;
transform: rotate(-4deg);
padding-left: 40px;
padding-right: 40px;

}

.marquetext {
    color: #1B283A;
    font-family: 'Kadwa', serif;
    font-size: 11.979px;
font-style: normal;
font-weight: 700;
}

    .marque {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
        padding: 0.5rem; /* Adjust padding for smaller screens */
    }

    .marque img {
        width: 40px; /* Adjust image size for smaller screens */
        height: 40px; /* Adjust image size for smaller screens */
    }
 }