@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=DM+Sans:opsz,wght@9..40,300&family=Fasthand&family=Ingrid+Darling&family=Inter:wght@500;600;700&family=Lexend:wght@300&family=Manrope:wght@600&family=Open+Sans:ital,wght@1,600&family=Poppins&family=Roboto+Slab:wght@500&family=Roboto:wght@700;900&display=swap');



body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}


.nav1 {
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    z-index: 2;
    margin-bottom: 20px;
}

nav img {
    margin-left: 40px;
    width: 196px;
    height: 55px;
    position: relative;
    z-index: 3;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 40px;
}

nav a {
    text-decoration: none;
    color: #333;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 19.2px;
    letter-spacing: -0.48px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    margin-left: 140px;
    padding-top: 30px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav .call-button {
    width: 182px;
    height: 60px;
    background: #F35422;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 24px;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, transform 0.3s;
    position: relative;
    border-radius: 30px;
    justify-content: center;
    gap: 10px;
    font-size: 17.4px;
    margin-right: 40px;
    position: relative;
    z-index: 3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.grid-container a {
    display: flex;
    /* padding: 20px 43px 20px 10px; */
    height: 66px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 5px; */
    border-top: 1px solid rgba(109, 99, 99, 0.67);
    border-right: 1px solid rgba(109, 99, 99, 0.67);
    background: #FFF;

}

.grid-container a:hover {
    background-color: #f1f1f1;
}

.call-button img {
    width: 26px;
    height: 26px;
    display: none;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    transition: opacity 0.3s;
}

.call-button:hover {
    background: #F35422;
    color: white;
    transform: translateX(-5px);
}

.call-button:hover img {
    display: inline;
    width: 22px;
    height: 22px;
    margin-left: -6px;
    margin-right: 6px;
}

button:hover .circle {
    display: none;
}


.nav2 {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    box-sizing: border-box; /* Include padding in the total width and height */

}

.second-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav2 a {
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    font-family: 'Inter', sans-serif;
    font-size: 23.61px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.693px;
}

.cc {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}

.selected-link .cc {
    border-bottom-color: red;
}

.second-nav a:hover {
    color: #000;
    border-bottom-color: red;
}

.default-page {
    color: black;
}

.hero {
    width: 100%;
    background-color: #F7F4F3;
    text-align: left; 
}


.hero-text {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 79.377px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0; 
    padding: 80px 20px;

}

.section-header {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 29.61px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.693px;
    margin: 0;
}

.section-paragraph {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    margin: 20px 0 0;
    width: 1000px;
}

.new-section {
    text-align: left; 
    background-color: #F7F4F3;
    overflow: hidden;
    padding-left: 30px;
}

.new-section .section-header {
    color: rgba(45, 26, 11, 0.44);
    font-family: 'Inter', sans-serif;
font-size: 29.61px;
font-style: normal;
font-weight: 600;
line-height: 18.693px; 
    margin-top: 30px;
}

.new-section .section-paragraph {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    margin: 20px 0 0;
    width: 1000px;
}




.new-section img {
    width: 1204px;
    height: 562px;
    flex-shrink: 0;
    /* margin: 0 10px;  */
    margin-top: 50px;
}


.subservices-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px;
}

.subservices-list {
    width: 55%;
}

.subservice-item {
    /* padding: 15px; */
    width: 592px;
    margin-bottom: 10px;
    color: #CBCBCB;
    font-family: 'Inter', sans-serif;
    font-size: 32.497px;
font-style: normal;
font-weight: 700;
line-height: normal;
    cursor: pointer;
}

.subservice-item.selected {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 32.497px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
        /* color: white; */
}

.subservice-explanation {
    width: 45%;
}

.subservice-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.subservice-button {
    border-radius: 32.903px;
background: rgba(238, 238, 238, 0.95);
    padding: 8px 16px;
    cursor: pointer;
}

.subservice-button.selected {
    background: rgba(238, 238, 238, 0.95);
    /* color: white; */
}

.explanation-paragraph {
    width: 479px;
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #F35422;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #E2440D;
}

.second-nav a.selected-link .cc {
    border-bottom: 3px solid red; 
}

/* .second-nav a:not(.selected-link) .cc:hover {
    border-bottom: 3px solid #555; 
} */


/* -------------------process------------------------------------ */


.process-section {
    width: 100vw;
    margin-top: 80px;
    position: relative;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}


.container2 {
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.process-effect {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    padding-bottom: 100px;
    /* gap: 20px; */
    opacity: 0;
    transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
   
}




.effectline {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.process-content {
    padding: 60px 0; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in the total width */
}

.process-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the total width */
}

.process-content h2 {
    color: rgba(45, 26, 11, 0.44);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.693px; /* 46.734% */
}

.process-content p {
    color: #2D1A0B;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 50.4px; /* 144% */
    /* Add any other styles for your paragraph text */
}

.circlee {
    width: 16px;
height: 16px;
border-radius: 50%;
background-color: black;
}


.first-p p {
    width: 315px;
}


.active {
    transform: translateX(0);
    opacity: 1;
  }
/* ======================process end======================= */
.cta-section {
    box-sizing: border-box;
    width: 100%;
    background-color: #F4F4F4;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
}





.cta-text {
    color: #2D1A0B;
    font-family: Inter;
    font-size: 74.375px;
    font-style: normal;
    font-weight: 500;
    line-height: 120px;
    letter-spacing: -1.54px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #1b1612;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 15px 40px;
    margin-top: 0; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, transform 0.3s;
}


.cta-button:hover {
    background: #2D1A0B;
    color: white;
    transform: translateY(-5px);
}


