body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F4F3;
}

header {
    background-color: #333;
    padding: 15px;
    text-align: center;
    color: white;
}

.nav2 {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 59px;
    position: fixed;
    background-color: #fff;
    /* z-index: 2; */


}

.second-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav2 a {
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 23.61px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.693px;
    padding-bottom: 7px;
}



.nav2 a:hover {
    border-bottom: 2px solid red;
}

nav a.active {
    border-bottom: 2px solid red;
}


.cc span svg {
    width: 24px;
    height: 24px;
    position: relative; top: -10px;
}

section {
    /* display: none; */
    padding: 20px;
}


.hero {
    width: 100%;
    height: 60vh;
    background-color: #F7F4F3;
    text-align: left;
    margin-left: -20px;
    margin-top: 20px;
}


.hero-text {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 4.961rem;
    /* Equivalent to 79.377px / 16px */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    padding: 5rem 1.25rem;
    margin-top: 4rem;
    /* margin-bottom: 4rem; */
}





.new-section {
    width: 100%;
    text-align: left;
    background-color: #F7F4F3;
    overflow: hidden;
    padding-left: 30px;
    margin-left: -20px;
    /* margin-top: 2rem; */

}

.new-section .section-header {
    color: rgba(45, 26, 11, 0.44);
    font-family: 'Inter', sans-serif;
    font-size: 29.61px;
    font-style: normal;
    font-weight: 600;
    line-height: 18.693px;
    margin-top: 30px;
}

.new-section .section-paragraph {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    margin: 20px 0 0;
    width: 1000px;
}




.new-section img {
    width: 1204px;
    height: 792px;
    flex-shrink: 0;
    /* margin: 0 10px;  */
    margin-top: 50px;
}

.new-section .eco-image {
    height: 602px;
}





.subservices-section {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px;
}

.subservices-list {
    width: 55%;
}

.subservice-item {
    /* padding: 15px; */
    width: 592px;
    margin-bottom: 10px;
    color: #CBCBCB;
    font-family: 'Inter', sans-serif;
    font-size: 32.497px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.subservice-item.selected {
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 32.497px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* color: white; */
}

.subservice-explanation {
    width: 45%;
}

.subservice-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.subservice-button {
    border-radius: 32.903px;
    background: rgba(238, 238, 238, 0.95);
    padding: 8px 16px;
    cursor: pointer;
}

.subservice-button.selected {
    background: rgba(238, 238, 238, 0.95);
    /* color: white; */
}

.explanation-paragraph {
    width: 479px;
    color: #2D1A0B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ctta-button {
    background-color: #F35422;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #E2440D;
}

.second-nav a.selected-link .cc {
    border-bottom: 3px solid red;
}

.wrapper {
    width: 120vw;
}

.wrapper .edited {
    width: 30%;
    font-size: 1.8rem;
    margin-left: -6rem;
}

.wrapper .edited2 {
    width: 30%;
    font-size: 1.8rem;
    margin-left: -6rem;
}

.wrapper .edited-content {
    width: 70%;
}



.fixed-button2 {
    display: none;
    /* Hide the button by default */
    transform: rotate(-90deg);
    /* Rotate the button by 90 degrees */
    right: 0;

}


.first-p {
    margin-top: 70px;

}

.holder {
    margin-top: 5px;
}



.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content22 {
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 120px;
    border-radius: 1.5rem;
    text-align: center;
  }
  

  .contact-container22 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    padding: 3rem;
    /* transform: translate(35%, 110%); */
  }

  .contact-container22 a {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: 0px 4px 21.4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  /* ==================================================updated ===============================================*/


  #popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popups-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-content-container {
    width: 40vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
    background-color: white;
    border-radius: 2rem;
    /* Add background color */
}

.popup-content2 {
    margin-top: 4rem;
    display: flex;
    width: 300%;
    transition: transform 0.3s ease-in-out;
}

.popup-header {
    color: #2C325C;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 2.7627rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.2rem;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

.popup-button {
    padding: 1rem;
    background-color: #F35422;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}


.popup-screen p {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: center;
    width: 30vw;
}

.popup-screen {
    flex: 0 0 33.33%;
    /* 100% / number of screens */
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.popup-prev {
    left: 1rem;
}

.popup-next {
    right: 1rem;
}


@media screen and (max-width: 768px) {

    .fixed-button2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: block;
        /* Show the button on screens with a maximum width of 767px (typical mobile devices) */
        position: fixed;
        bottom: 420px;
        /* Adjust the distance from the bottom */
        right: -40px;
        /* Adjust the distance from the right */
        background-color: #000;
        /* Choose a background color */
        padding: 10px 20px;
        border-radius: 5px;
        color: #fff;
        /* Choose a text color */
        text-decoration: none;
        cursor: pointer;
        z-index: 999;


        font-family: Inter;
        font-size: 1.0875rem;
        /* 17.4px converted to rem */
        font-style: normal;
        font-weight: 600;
        line-height: 1.37875rem;
        /* 22.08px converted to rem */
        text-transform: capitalize;
    }

    .nav2 a {
        display: inline-block;
        box-sizing: border-box;
        color: #000;
        text-align: center;
        text-decoration: none;
        font-family: 'Inter', sans-serif;
        font-size: 0.6rem;
        /* Equivalent to 9.61px / 16px */
        font-style: normal;
        font-weight: 600;
        line-height: 0.668rem;
        /* Equivalent to 10.693px / 16px */
        padding-bottom: 0.438rem;
        /* Equivalent to 7px / 16px */
    }

    .second-nav {
        width: 100%;
        display: flex;
        gap: 3.0rem;
        align-items: center;
        justify-content: center;
    }

    .nav2 {
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding-bottom: 10px;
        box-sizing: border-box;
        margin-top: 60px;

    }

    .hero {
        width: 100vw;
        height: 40vh;
        background-color: #F7F4F3;
        text-align: left;
        margin-left: -20px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-text {
        color: #2D1A0B;
        font-family: 'Inter', sans-serif;
        font-size: 1.71rem;
        /* Equivalent to 79.377px / 16px */
        font-style: bold;
        font-weight: 800;
        line-height: normal;
        margin: 0;
        padding: 5rem 1.25rem;
        margin-top: 60px;
    }

    .new-section {
        margin-top: -2rem;
        width: 100vw;
    }

    .new-section .section-header {
        color: rgba(45, 26, 11, 0.44);
        font-family: 'Inter', sans-serif;
        font-size: 1.05rem;
        /* Equivalent to 29.61px / 16px */
        font-style: normal;
        font-weight: 600;
        line-height: 1.169rem;
        /* Equivalent to 18.693px / 16px */
        margin-left: -0.9rem;
    }

    .new-section .section-paragraph {
        color: #2D1A0B;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        /* Equivalent to 32px / 16px */
        font-style: normal;
        font-weight: 600;
        line-height: 1.613rem;
        /* Equivalent to 45px / 16px */
        margin: 1.05rem 0 0;
        /* Equivalent to 20px / 16px */
        margin-left: -0.9rem;
        width: 21.1rem;
        /* Equivalent to 1000px / 16px */
    }


    /*
    .new-section img {
        width: 23.25rem;
        height: 14.125rem;
        flex-shrink: 0;
        margin-top: 1.025rem;
    } */
 .new-section img {
        /* width: 29.25rem; */
        width: 100vw;
        height: 13.125rem;
        flex-shrink: 0;
        margin-top: 1.025rem;
    }

    .new-section .eco-image {
        height: 175px;
        /* margin: 0 auto; */
    }

    /* .process-section {
    margin-top: -10rem;
} */

    .process-content h2 {
        margin-bottom: 25px;
    }

    .process-effect {
        display: flex;
    }

    .process-section .container2 {
        margin-bottom: 20px;
    }

    .circlee2 {

        width: 0.7rem;
        /* 16px converted to rem */
        height: 0.7rem;
        /* 16px converted to rem */
        border-radius: 50%;
        background-color: black;
        margin-top: -10.5rem;
        /* margin-right: 40px; */
        margin-left: -6px;

    }

    .holder h5 {
        /* margin-top: 10px; */
        margin-bottom: -10px;
    }

    .effectline {
        margin-top: 35px;
    }




    .wrapper .edited {
        width: 35vw;
        margin: 0 auto;
        margin-left: -0.5rem;
        font-size: 1rem;
    }

    .wrapper .edited2 {
        width: 35vw;
        margin: 0 auto;
        margin-left: -0.5rem;
        font-size: 1rem;
    }

    .wrapper .service-text p {
        width: 19rem;
    }

    .cta-text h2 {
        font-size: 1rem;
    }

    .wrapper .service {
        margin-left: -1rem;
    }

    .cta-text2 h2 {
        color: #2D1A0B;
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: -1.54px;
        margin-bottom: 30px;
      }


      .popup-content2 {
        margin-top: 0.01rem;
    }

    .cc span svg {
        width: 17px;
        height: 17px;
        position: relative; top: -30px;
        right: -24px;
    }

    .twtop,
    .twbottom {
      display: flex;
      gap: 2rem;
      flex-direction: column;

    }
    .modal-content22 {
        width: 80vw;
    }

}
